@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
}
@media screen and (max-width: 624px) {
  .navbar {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255,0.2);
    border-radius: 15px 15px 15px 15px;
  }

  .navbar-image {
    width: 10px;
  }

  .brand {
    text-align: center;
  }

  .navbar-list {
    margin-right: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  
  .navbar-item {
    display: block;
    margin-bottom: 10px;
  }
}
.navbar {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px 15px 15px 15px;
  margin: 0 5px 5px;
  box-shadow: none;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 1;
  backdrop-filter: blur(50%);
  -webkit-backdrop-filter: blur(50%); /* For Safari */
}


.navbar-image {
  width: 40px;
  padding: 5px
}
.navbar-brand {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: aliceblue;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 10px;
  margin-left: auto;
  
}

.navbar-item {
  margin-left: 10px;
  
}

.navbar-link {
  text-decoration: none;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease;
  color: white;
}

.navbar-link:hover{
  color: #e7aeff;
  text-decoration: none;
  
}
.navbar-link.active {
  color: rgb(194, 51, 255);
}



